[submodule "PicoWatchClient"]
	path = PicoWatchClient
	url = https://github.com/danielrsdn/PicoWatchClient.git
[submodule "FacialNotify"]
	path = FacialNotify
	url = https://github.com/danielrsdn/FacialNotify.git
[submodule "CloudPass"]
	path = CloudPass
	url = https://github.com/danielrsdn/CloudPass.git
[submodule "CameraMotionSensor"]
	path = CameraMotionSensor
	url = https://github.com/danielrsdn/CameraMotionSensor.git
